.weather-forecast-input-form {
  width: 500px;
  margin-left: 25px;
}
.weather-forecast-result {
  width: 800px;
  margin-left: 25px;
  margin-top: 25px;
}
.wheather-forecast-mode-selector {
  width: 500px;
  margin-bottom: 25px;
  margin-top: 5px;
}

#uiErrorMessage {
  margin-top: 10px;
}